@charset "UTF-8";

th.board_title {
	font-family: Msgothic, Arial;
	font-size: 20px;
	background-color: #D4F1F4;
	border: 1px solid black;
	color : black;
}

td.board_content {
	font-family: Msgothic, Arial;
	font-size: 17px;
	background-color: #D4F1F4;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	color : black;
	
}

a.contentlnk:visited {
	font-family: Msgothic, Arial;
	font-size: 17px;
	color : #000000;
	text-decoration:none;
}

a.contentlink:hover {
	font-family: Msgothic, Arial;
	font-size: 17px;
	color : black;
	font-weight:bold;
}

a.pagelnk:visited {
	font-family: HMKMMAG, Arial;
	font-size: 17px;
	color : gray;
	text-decoration:none;
}

a.pagelnk:hover {
	font-family: HMKMMAG, Arial;
	font-size: 17px;
	color : black;
	font-weight:bold;
}

span.currpage {
	font-family: HMKMMAG, Arial;
	font-size: 17px;
	color: #408080;
	font-weight:1px solid #253407;
	background-color: #80ffff;
	font-weight: bold;
	padding: 2px;

	
}





