@charset "UTF-8";

span.content_text {
	font-size: 20px;
	font-family: Msgothic;
	color: #189AB4;
	font-weight: bold;
}

input.input_box01 {
	border:1px solid #05445E;
	width: 250px;
	font-family: Arial;
	color: black;
	font-size: 20px;
	padding:5px;
}

input.input_box01_view {
	border:1px solid #05445E;
	width: 250px;
	font-family: Arial;
	color: black;
	font-size: 20px;
	padding:5px;
	background-color: #ffff80;
}

input.input_box02 {
	border:1px solid #05445E;
	width: 500px;
	font-family: Arial;
	color: black;
	font-size: 20px;
	padding:5px;
}

input.input_box02_view {
	border:1px solid #05445E;
	width: 500px;
	font-family: Arial;
	color: black;
	font-size: 20px;
	padding:5px;
	background-color: #8080ff;
}

input.btn01 {
	border: 2px solid #05445E;
	width: 150px;
	height: 40px;
	font-family: Msgothic;
	font-size:20px;
	padding:5px;
	background-color: #D4F1F4;
}

td.content_box {
	height: 300px;
	background-color: #75E6DA;
}

input.btn01:hover {
	border: 2px solid #05445E;
	width: 150px;
	height: 40px;
	font-family: Msgothic;
	font-size:20px;
	padding:5px;
	background-color: #189AB4;
	cursor: pointer;
}

textarea.text_area {
	border: 1px solid #05445E;
	font-family: Msgothic, Arial;
	font-size:20px;
	padding:5px;
	width: 500px;	
}

textarea.text_area_view {
	border: 1px solid #05445E;
	font-family: Msgothic, Arial;
	font-size:20px;
	padding:5px;
	width: 500px;
	background-color: #80ffff;
}

