@charset "UTF-8";

body {
	margin:0;
	padding:0;
}

span.title_text01 {
	font-size: 70px;
	color:#cbf3f0;
	font-family: Arial;
	font-weight: bold;
}

span.title_text02 {
	font-size: 30px;
	color:#2ec4b6;
	font-family: Arial;
	font-weight: bold;
}

span.skill_text01 {
	font-size: 50px;
	color:#2ec4b6;
	font-family: Arial;
	font-weight: bold;
}

span.skill_text02 {
	font-size: 20px;
	color:#cbf3f0;
	font-family: Arial;
	font-weight: bold;
}

td.skill_box {
	background-color: #05445E;
}

td.image_box {
	background-color: #189AB4;
}







